// Styles relating to anything button
@import '../constants';
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 22px;
    // height: 32px;
    -webkit-font-smoothing: antialiased!important;
    text-align: center;
    padding: 10px 25px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    background-clip: border-box!important;
    background-origin: border-box!important;
    border: 0;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    &.disabled {
        outline: none;
        opacity: 0.6;
        cursor: not-allowed;
    }
    .loading {
        cursor: progress;
    }
}

.bg-primary {
    background-color: $accent;
    color: $gray;
    &:disabled {
        background: $primary-light
    }
}

.btn-primary {
    background-color: $secondary;
    color: $white;
    &:disabled {
        opacity: 0.6;
    }
    &:hover {
        opacity: 0.8;
    }
    &-outline {
        color: $secondary;
        background-color: $white;
        border: 1px solid $secondary;
        &:hover {
            background-color: $gray;
        }
    }
}

.btn-success {
    background-color: $green;
    color: $white;
    &:hover {
        opacity: 0.6;
    }
    &-outline {
        color: $green;
        background-color: $white;
        border: 1px solid $green;
        &:hover {
            background-color: $green;
            color: $white;
        }
    }
}

.btn-danger {
    background-color: $red;
    color: $white;
    &-outline {
        color: $red;
        background-color: $white;
        border: 1px solid $red;
        &:hover {
            opacity: 0.6;
            color: $white;
        }
    }
}