// Styles relating to anything button
@import '../constants';
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // line-height: 22px;
    // height: 32px;
    -webkit-font-smoothing: antialiased!important;
    text-align: center;
    padding: 10px 20px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    background-clip: border-box!important;
    background-origin: border-box!important;
    border: 0;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    &.disabled {
        outline: none;
        opacity: 0.6;
        cursor: not-allowed;
    }
    .loading {
        cursor: progress;
    }
}

.btn-primary {
    background-color: $primary;
    color: $white;

    &:hover {
        opacity: 0.8;
    }
    &-outline {
        color: $primary;
        background-color: $white;
        border: 1px solid $gray;
        &:hover {
            background-color: $primary;
            color: $white;
        }
        
    }
    &.disabled,
    &:disabled {
        opacity: 0.6;
        color: $gray;
        &:hover {
            background-color: inherit;
        }
    }
    
}

.btn-success {
    background-color: $green;
    color: $white;
    &:hover {
        opacity: 0.6;
    }
    &-outline {
        color: $green;
        background-color: $white;
        border: 1px solid $green;
        &:hover {
            background-color: $green;
            color: $white;
        }
    }
}

.btn-danger {
    background-color: $red;
    color: $white;
    &-outline {
        color: $red;
        background-color: $white;
        border: 1px solid $red;
        &:hover {
            opacity: 0.6;
            color: $white;
        }
    }
}

@media (max-width:760px) {
    .btn {
        padding: 8px 15px;
        font-size: 14px;
    }
}