// Styles Pertaining to Load and Loading

.preloader__container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle-loader {
        width: 200px;
        height: 200px;
        border-bottom: 3px solid #ad81e0;
        border-radius: 50%;
        @include Spin360;
    }
}

.spinner {
    // display: block;
    // color: #79589F;
    font-size: $medium;
    margin: 0;
    i {
        @include Spin360;
    }
}


.preloader_box_container{
    @include card;
    width: 200px;
    height: 200px;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    .mld {
        transition: all 0.5s ease;
        i {
            font-size: $large *2;
        }
    }
    
    .warning {
        color: $orange;
    }

    .danger {
        color: $red;
        &~span{
            color: $red;
        }
    }

    .success {
        color: $green;
    }
    .loading,
    .loader{
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 0;
        border: 0;
        border-left: 3px;
        border-radius: 50%;
        border-color: $primary;
        border-style: dotted;
        @include Spin360;
    }

    span{
        display: block;
        color: $gray;
        // width: 90%;
        text-align: center;
    }
}