.preloader__container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle-loader {
        width: 200px;
        height: 200px;
        border-bottom: 3px solid #ad81e0;
        border-radius: 50%;
        animation: Spin360 linear 0.9s infinite;
    }
}

@keyframes Spin360 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    height: 70px;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    line-height: 12px;
    font-weight: 700;
    position: relative;
    font-family: 'Shippori Antique B1', sans-serif;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: #a97cdb;
        height: 3px;
        width: 100%;
    }
    .nav__property {
        .logo {
            display: flex;
            align-items: center;
            font-size: 20px;
            .brand-logo {
                display: inline-block;
                height: 50px;
                width: 50px;
            }
        }
    }
    .nav__user {
        display: flex;
        margin-right: 15px;
        .icon-nav-toggle {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU%2BQ29tYmluZWQgU2hhcGUgQ29weSAyPC90aXRsZT48cGF0aCBkPSJNMiA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHpNOSA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptNy0xNGEyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6IiBmaWxsPSIjOERDQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4%3D);
            background-size: 18px 18px;
            background-repeat: no-repeat;
            background-position: center center;
            width: 32px;
            height: 50px;
            display: inline-block;
            cursor: pointer;
        }
        .avatar__container {
            .user__avatar {
                width: 30px;
                height: 30px;
                padding-top: 10px;
                margin-left: 10px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.nav-panel {
    padding: 0 70px;
    border-bottom: 2px solid #F7F8FB;
    ul {
        display: flex;
        li {
            text-align: center;
            padding: 20px;
            position: relative;
            a {
                &.active::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    background: #ad81e0;
                    width: 100%;
                    animation: fade ease 0.8s;
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.breadcrumb {
    margin: -5px 0 0 0;
    padding: 20px 70px;
    background: #F7F8FB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left_crumb {
        font-size: 20px;
        font-weight: bold;
        line-height: 12px;
        color: #79589f;
    }
}

.search-input {
    position: relative;
    input {
        padding: 5px 10px 5px 30px;
        color: #556379bb;
        // width: 300px;
    }
    i {
        position: absolute;
        left: 10px;
        top: 10px;
        bottom: 10px;
        font-size: 13px;
        font-weight: 100;
        color: #62738d;
    }
}

.input-group {
    position: relative;
    select {
        padding: 6px 10px 6px 30px;
        color: #556379bb;
        border-radius: 5px;
        border: 1px solid #e2e2e2;
        outline: none;
        // width: 300px;
    }
    i {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0;
        border-left: 1px solid #e2e2e2;
        border-radius: 5px 0 0 5px;
        // top: 10px;
        // bottom: 10px;
        font-size: 20px;
        font-weight: 100;
        color: #62738d;
        background: #f7f7f7;
    }
}

.toggle-switch {
    display: flex;
    width: 55px;
    height: 25px;
    border-radius: 25px;
    background: #e7e7e7;
    padding: 2px;
    transition: all 0.3s ease;
    input {
        display: none;
    }
    &.active {
        background: #79589f;
        span::before {
            left: 30px;
        }
    }
    .ball {
        display: inline-block;
        transition: all 0.3s ease;
        // height: 100%;
        // width: 50%;
        // border-radius: 50%;
        // background: grey;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0px;
            height: 100%;
            width: 25px;
            background: #fff;
            border-radius: 50%;
        }
    }
}

.listings {
    // max-height: 0px;
    // border-width: 1px 0 1px 0;
    // border-style: solid;
    // border-color: #e2e2e2;
    // border-bottom: 1px solid #e2e2e2;
    position: relative;
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover {
        background: #f7f7f7;
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        background: #e2e2e2;
        height: 1px;
    }
    .listing__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 70px;
        // color: #757474;
        b {
            font-weight: 400;
            line-height: 10px;
        }
        span {
            font-size: 13px;
            font-weight: 300;
            margin-right: 3px;
        }
        h3 {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
        }
        .left {
            display: flex;
            align-items: center;
            .list__item--logo {
                height: 50px;
                width: 50px;
                img {
                    width: 100%;
                }
            }
            .list__item--property {
                margin-left: 10px;
            }
        }
        .right {
            text-align: center;
            span {
                font-weight: 300;
            }
            i {
                margin-left: 10px;
                font-size: 15px;
                background: transparent;
            }
        }
    }
}

.groupings {
    // max-height: 0px;
    // border-width: 1px 0 1px 0;
    // border-style: solid;
    // border-color: #e2e2e2;
    // border-bottom: 1px solid #e2e2e2;
    .group__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        position: relative;
        transition: all 0.2s ease-in;
        cursor: pointer;
        &:hover {
            background: #f7f7f7;
        }
        border: 1px solid #e2e2e2;
        ;
        // color: #757474;
        b {
            font-weight: 400;
            line-height: 10px;
        }
        span {
            font-size: 13px;
            font-weight: 300;
            margin-right: 3px;
        }
        h3 {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
        }
        .left {
            display: flex;
            align-items: center;
            .list__item--logo {
                height: 50px;
                width: 50px;
                img {
                    width: 100%;
                }
            }
            .list__item--property {
                margin-left: 10px;
            }
        }
        .right {
            text-align: center;
            span {
                font-weight: 300;
            }
            i {
                margin-left: 10px;
                font-size: 15px;
                background: transparent;
            }
        }
    }
}

.activities {
    // display: flex;
    // flex-wrap: wrap;
    line-height: 8px;
    .activity {
        width: 100%;
        display: flex;
        position: relative;
        &::before {
            content: " ";
            position: absolute;
            left: 25px;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: #ad81e0;
        }
        &:last-child:before {
            display: none
        }
        .activity-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 3px;
            // line-height: 50px;
            font-size: 20px;
            text-align: center;
            margin-right: 20px;
            border-radius: 50%;
            flex-shrink: 0;
            z-index: 1;
        }
        .activity-detail {
            min-width: 130px;
            background-color: #fff;
            border-radius: 10px;
            border: none;
            position: relative;
            margin-bottom: 30px;
            box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
            padding: 10px 15px;
            font-size: 12px;
            &::before {
                content: "\f0d9";
                font-family: "Font Awesome 5 pro";
                font-weight: 900;
                font-size: 20px;
                position: absolute;
                left: -8px;
                color: #fff;
            }
            p {
                margin-bottom: 0;
                font-size: 14px;
                line-height: 12px;
            }
        }
    }
    .no-activity {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        i {
            font-size: 40px;
            margin: 15px 0;
        }
    }
}

footer {
    position: relative;
    width: 100% !important;
    overflow-x: hidden;
    .footer__content {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 10px;
        border: 1px solid;
        border-color: #eef1f6;
        background: #fff;
        font-size: 14px;
        font-weight: 300;
        color: #62738d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 12;
        // .footer_right {
        //     align-items: center;
        //     justify-content: space-evenly;
        //     span {
        //         display: inline-block;
        //         width: fit-content;
        //         margin-right: 20px !important;
        //         position: relative;
        //         &::after {
        //             content: '•';
        //             display: inline-block;
        //             position: relative;
        //             top: 0px;
        //             right: -10px;
        //             color: #b4b3b3;
        //         }
        //         &:last-of-type {
        //             margin-right: 0px !important;
        //             &::after {
        //                 display: none;
        //             }
        //         }
        //     }
        // }
        .footer_right {
            margin-right: 25px;
            li {
                margin: 10px;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

.auth-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #3A2778;
    color: #fff;
    overflow-y: auto;
    .wrapper {
        width: 60%;
        margin: 20px auto;
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo p {
                margin: 0;
                font-size: 40px;
            }
            .cta {
                display: flex;
                justify-content: space-around;
                align-items: center;
                line-height: 8px;
                font-size: 14px;
                span {
                    display: block;
                }
                button,
                a {
                    display: block;
                    margin-left: 10px;
                    background: #452f8bb7;
                    border-radius: 3px;
                }
            }
        }
        .lead {
            margin-top: 28px;
            font-size: 30px;
        }
        .auth-card {
            background: #eef1f6;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            // 
            // align-items: center;
            justify-content: space-between;
            &.login {
                width: 60%;
                margin: 0 auto;
                justify-content: center;
            }
            .left {
                margin-right: 15px;
                width: 40%;
                p {
                    margin: 0;
                    font-size: 13px;
                    color: #3A2778;
                    font-weight: 300;
                }
                h4 {
                    color: #79589f;
                    font-weight: 500;
                }
            }
            &.no-hype {
                width: 90%;
                margin: 0 auto;
                justify-content: center;
                .left {
                    display: none;
                }
            }
            .right {
                width: 60%;
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;
                padding: 15px;
                .label-group {
                    display: block;
                    margin-bottom: 20px;
                    label {
                        position: relative;
                        color: #79589f;
                        font-weight: 500;
                        font-size: 14px;
                        display: block;
                        width: fit-content;
                    }
                    input,
                    textarea {
                        display: block;
                        width: 98%;
                    }
                    &.required {
                        label::after {
                            content: '*';
                            position: absolute;
                            font-size: 20px;
                            color: #ee3636;
                            right: -12px;
                        }
                    }
                }
                button {
                    width: 40%;
                    margin: 5px auto;
                }


                
            }


            // Evidence styling
            form{
                // border: 0;
                // border-radius: 15px;
                // background-color: #F0F8FF;
                // padding: 25px 50px 20px 50px;
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                // width: 250px;
                max-width: 100%;
                padding:20px;
                margin: 15px auto;
                p{
                    font-size: 15px;
                    margin: 15px 0 15px 0;
                    color: #000;
                }
                input{
                    font-size: 15px;
                    padding: 15px 10px;
                    width: 250px;
                    border: 1px solid #3A2778;
                    border-radius: 10px;
                    outline: #3A2778;
                    &::placeholder{
                        font-size: 15px;
                        color: #696969;
                    }
                }
                // button{
                //     font-size: 12px;
                //     margin: 20px 0;
                //     padding: 10px 15px;
                //     width: 30%;
                //     border: 0;
                //     border-radius: 5px;
                //     background-color: #3A2778;
                //     cursor: pointer;
                // }
            }
        }
    }
}

@media (max-width: 601px) {
    .breadcrumb {
        padding: 20px 10px;
    }
    footer {
        display: block !important;
        text-align: center;
        .footer_left {
            font-size: 12px;
            font-weight: 300;
            color: #62738d;
            li {
                margin: 10px;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

@media (max-width:782px) {
    .listings {
        .listing__items {
            padding: 10px 5px;
            // color: #757474;
            h3 {
                margin: 0;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
    .auth-page {
        .wrapper {
            width: 100%;
            // margin: 20px auto;
            .header {
                display: block;
                text-align: center;
                // align-items: center;
                // justify-content: space-between;
                .logo p {
                    margin: 0;
                    font-size: 40px;
                }
                .cta {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    line-height: 8px;
                    font-size: 14px;
                    span {
                        display: block;
                    }
                    button,
                    a {
                        display: block;
                        margin-left: 10px;
                        background: #452f8bb7;
                        border-radius: 3px;
                    }
                }
            }
            .lead {
                margin-top: 28px;
                font-size: 30px;
            }
            .auth-card {
                background: #eef1f6;
                padding: 10px;
                border-radius: 10px;
                display: flex;
                // 
                // align-items: center;
                justify-content: space-between;
                &.login {
                    width: 90%;
                    margin: 0 auto;
                    justify-content: center;
                }
                .left {
                    margin-right: 15px;
                    width: 40%;
                    p {
                        margin: 0;
                        font-size: 13px;
                        color: #3A2778;
                        font-weight: 300;
                    }
                    h4 {
                        color: #79589f;
                        font-weight: 500;
                    }
                }
                .right {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    justify-content: center;
                    padding: 15px;
                    .label-group {
                        display: block;
                        margin-bottom: 20px;
                        label {
                            position: relative;
                            color: #79589f;
                            font-weight: 500;
                            font-size: 14px;
                            display: block;
                            width: fit-content;
                        }
                        input,
                        textarea {
                            display: block;
                            width: 98%;
                        }
                        &.required {
                            label::after {
                                content: '*';
                                position: absolute;
                                font-size: 20px;
                                color: #ee3636;
                                right: -12px;
                            }
                        }
                    }
                    button {
                        width: 40%;
                        margin: 5px auto;
                    }
                }
            }
        }
    }
}