body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Signika Negative', sans-serif;
    // overflow-x: hidden;
}

a {
    background-color: transparent;
    color: #79589F;
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 22px;
    height: 32px;
    -webkit-font-smoothing: antialiased!important;
    text-align: center;
    padding: 5px 25px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    background-clip: border-box!important;
    background-origin: border-box!important;
    border: 0;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    &:disabled {
        outline: none;
        cursor: progress;
    }
}

.btn-primary,
.bg-primary {
    background-color: #79589f;
    color: #fdfdfd;
    &:disabled {
        background: #6d5e7e;
    }
}

// .spin {
//     position: relative;
//     &:focus,
//     &:disabled {
//         outline: none;
//         background: #6d5e7e;
//     }
//     &::after {
//         position: absolute;
//         content: "\f3f4";
//         font-family: FontAwesome;
//         font-size: 25px;
//         right: -5px;
//     }
// }
.spinner {
    display: block;
    color: #79589F;
    font-size: 18px;
    text-align: right;
    margin: 0;
    i {
        animation: Spin360 linear 0.9s infinite;
    }
}

.bg-default {
    background: #f7f7f7;
}

.bg-white {
    height: 100%;
    background: #fff;
}

.btn-primary-outline {
    color: #79589f;
    background-color: #fdfdfd;
    border: 1px solid #79589f;
    &:hover {
        background-color: #f1efef;
    }
}

.btn-success {
    background-color: #11cc11;
    color: #fdfdfd;
}

.btn-success-outline {
    color: #11cc11;
    background-color: #fdfdfd;
    border: 1px solid #11cc11;
    &:hover {
        background-color: #11cc1194;
        color: #fdfdfd;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.mr-4 {
    margin-right: 40px;
}

.flex {
    display: flex;
    &.align-center {
        align-items: center;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.justify-evenly {
        justify-content: space-evenly;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.flex-row {
        flex-direction: row;
    }
}

.container {
    display: block;
    padding: 20px 70px;
    margin: 10px 0;
    &.no-padding {
        padding: 20px 0 !important;
    }
}

.px-7 {
    padding: 0 70px;
}

input,
textarea,
select {
    line-height: 20px;
    outline: 0;
    border-radius: 4px;
    font-size: 13px;
    background: #fff;
    border: 1px solid #cfd7e6;
    // box-shadow: inset 0 1px 2px 0 rgb(207 215 230 / 40%);
    padding: 5px 5px 5px 10px;
    transition: all 0.4s linear;
    &::placeholder {
        color: #e6e7e7;
        font-size: 12px;
    }
    &:focus {
        outline: 2px solid #ad81e0;
        &~i {
            color: #79589F;
            font-weight: 600;
        }
    }
}

.span-dots {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .item {
        display: inline-block;
        width: fit-content;
        margin-right: 20px !important;
        position: relative;
        &::after {
            content: '•';
            display: inline-block;
            position: relative;
            top: 0px;
            right: -10px;
            color: #b4b3b3;
        }
        &:last-of-type {
            margin-right: 0px !important;
            &::after {
                display: none;
            }
        }
    }
}

.required {
    position: relative;
    display: block;
    width: fit-content;
    &::after {
        content: '*';
        position: absolute;
        font-size: 20px;
        color: #ee3636;
        right: -12px;
        top: -5px;
    }
}

.text-success {
    color: #11cc11;
}

.text-danger {
    color: #df4444;
}

.text-muted {
    color: #c2bfc5;
}

.text-grey {
    color: #757474;
}

.mx-1 {
    margin-right: 10px;
    margin-left: 10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.float-right {
    float: right;
}

.dropdown-menu {
    display: none;
}

.self-center {
    justify-self: center;
}

.row {
    display: flex !important;
    justify-content: space-between;
    .col {
        width: 100%;
        margin-right: 20px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .col-4 {
        width: 40%;
    }
    .col-5 {
        width: 50%;
    }
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 5px;
    input {
        justify-self: start;
    }
}

.panel {
    padding: 15px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .panel-description {
        font-weight: 500;
        font-size: 25px;
        width: 20%;
    }
    .panel-content {
        width: 50%;
    }
}

.section-row {
    padding: 15px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #efefef;
}

.align-left {
    align-self: flex-start;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-30 {
    padding-left: 30px;
}

.copy-icon p {
    margin: 0;
}

.mx-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f5f5f5;
    // min-height: 50px;
    p {
        font-size: 14px;
    }
}

.mr-1 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 30px !important;
}

hr {
    // border: 1px solid #e6e7e7;
    border-style: solid;
    width: 100%;
    height: 1px;
    background: #e6e7e7;
}

.p-20 {
    padding: 20px;
}

.p-10 {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.mb-3 {
    margin-bottom: 30px;
}

.card {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    // width: max-content;
    .card-header {
        text-align: left;
        padding-left: 10px;
    }
    .card-body {
        .listings {
            transition: all 0.2s ease-in;
            cursor: default;
            &:hover {
                background: #f7f7f7;
            }
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                background: #e2e2e2;
                height: 1px;
            }
            .listing__items {
                display: flex;
                align-items: center;
                // justify-content: space-between;
                padding: 2px 15px;
                // color: #757474;
                b {
                    font-weight: 400;
                    line-height: 10px;
                }
                span {
                    font-size: 13px;
                    font-weight: 300;
                    margin-right: 3px;
                }
                h3 {
                    margin: 0;
                    font-weight: 500;
                    font-size: 18px;
                }
                .left {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    .list__item--logo {
                        height: 50px;
                        width: 50px;
                        img {
                            width: 100%;
                        }
                    }
                    .list__item--property {
                        margin-left: 10px;
                    }
                }
                .right {
                    text-align: center;
                    span {
                        font-weight: 300;
                    }
                    i {
                        margin-left: 10px;
                        font-size: 15px;
                        background: transparent;
                    }
                }
            }
        }
    }
}

.p-0 {
    padding: 0;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.w-40 {
    width: 40%;
}

.copy-icon {
    font-size: 15px;
    color: #757474;
    cursor: copy;
}

.d-none {
    display: none !important;
}

.mv-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mv-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes Spin360 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 687px) {
    .container {
        padding: 5px 10px;
    }
    .text-sm-center {
        text-align: center;
    }
    .d-xs-none {
        display: none !important;
    }
    .row {
        flex-wrap: wrap !important;
        .col {
            margin-right: 0;
        }
    }
    .pl-30 {
        padding-left: 0px;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-inline {
        display: inline-block;
    }
    .mr-sm-1 {
        margin-right: 10px;
    }
    .panel {
        padding-right: 2px;
        padding-left: 2px;
        display: block;
        .panel-description {
            width: 100%;
        }
        .panel-content {
            width: 70%;
        }
        // border-width: 1px 0;
        // border-style: solid;
        // border-color: #efefef;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        // .panel-description {
        //     font-weight: 500;
        //     font-size: 25px;
        // }
    }
}

@media (width > 999px) {
    .d-md-flex {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
}