@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Signika Negative", sans-serif;
}

a {
  background-color: transparent;
  color: #79589F;
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 22px;
  height: 32px;
  -webkit-font-smoothing: antialiased !important;
  text-align: center;
  padding: 5px 25px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  background-clip: border-box !important;
  background-origin: border-box !important;
  border: 0;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.btn:disabled {
  outline: none;
  cursor: progress;
}

.btn-primary,
.bg-primary {
  background-color: #79589f;
  color: #fdfdfd;
}
.btn-primary:disabled,
.bg-primary:disabled {
  background: #6d5e7e;
}

.spinner {
  font-size: 18px;
  margin: 0;
}
.spinner i {
  -webkit-animation: Spin360 linear 0.9s infinite;
          animation: Spin360 linear 0.9s infinite;
}

.bg-default {
  background: #f7f7f7;
}

.bg-white {
  height: 100%;
  background: #fff;
}

.btn-primary-outline {
  color: #79589f;
  background-color: #fdfdfd;
  border: 1px solid #79589f;
}
.btn-primary-outline:hover {
  background-color: #f1efef;
}

.btn-success {
  background-color: #11cc11;
  color: #fdfdfd;
}

.btn-success-outline {
  color: #11cc11;
  background-color: #fdfdfd;
  border: 1px solid #11cc11;
}
.btn-success-outline:hover {
  background-color: #11cc1194;
  color: #fdfdfd;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.mr-4 {
  margin-right: 40px;
}

.flex {
  display: flex;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-evenly {
  justify-content: space-evenly;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.flex-column {
  flex-direction: column;
}
.flex.flex-row {
  flex-direction: row;
}

.container {
  display: block;
  padding: 20px 70px;
  margin: 10px 0;
}
.container.no-padding {
  padding: 20px 0 !important;
}

.px-7 {
  padding: 0 70px;
}

input,
textarea,
select {
  line-height: 20px;
  outline: 0;
  border-radius: 4px;
  font-size: 13px;
  background: #fff;
  border: 1px solid #cfd7e6;
  padding: 5px 5px 5px 10px;
  transition: all 0.4s linear;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #e6e7e7;
  font-size: 12px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #e6e7e7;
  font-size: 12px;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #e6e7e7;
  font-size: 12px;
}
input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #ad81e0;
}
input:focus ~ i,
textarea:focus ~ i,
select:focus ~ i {
  color: #79589F;
  font-weight: 600;
}

.span-dots {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.span-dots .item {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 20px !important;
  position: relative;
}
.span-dots .item::after {
  content: "•";
  display: inline-block;
  position: relative;
  top: 0px;
  right: -10px;
  color: #b4b3b3;
}
.span-dots .item:last-of-type {
  margin-right: 0px !important;
}
.span-dots .item:last-of-type::after {
  display: none;
}

.required {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.required::after {
  content: "*";
  position: absolute;
  font-size: 20px;
  color: #ee3636;
  right: -12px;
  top: -5px;
}

.text-success {
  color: #11cc11;
}

.text-primary {
  color: #79589F;
}

.text-danger {
  color: #df4444;
}

.text-muted {
  color: #c2bfc5;
}

.text-grey {
  color: #757474;
}

.mx-1 {
  margin-right: 10px;
  margin-left: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.float-right {
  float: right;
}

.dropdown-menu {
  display: none;
}

.self-center {
  justify-self: center;
}

.row {
  display: flex !important;
  justify-content: space-between;
}
.row .col {
  width: 100%;
  margin-right: 20px;
}
.row .col:last-of-type {
  margin-right: 0;
}
.row .col-4 {
  width: 40%;
}
.row .col-5 {
  width: 50%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px 5px 5px;
}
.form-group input {
  justify-self: start;
}

.panel {
  padding: 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.panel .panel-description {
  font-weight: 500;
  font-size: 25px;
  width: 20%;
}
.panel .panel-content {
  width: 50%;
}

.section-row {
  padding: 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #efefef;
}

.align-left {
  align-self: flex-start;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-30 {
  padding-left: 30px;
}

.copy-icon p {
  margin: 0;
}

.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f5f5f5;
}
.box p {
  font-size: 14px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 30px !important;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

hr {
  border-style: solid;
  width: 100%;
  height: 1px;
  background: #e6e7e7;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.mb-3 {
  margin-bottom: 30px;
}

.card {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}
.card .card-header {
  text-align: left;
  padding-left: 10px;
}
.card .card-body .listings {
  transition: all 0.2s ease-in;
  cursor: default;
}
.card .card-body .listings:hover {
  background: #f7f7f7;
}
.card .card-body .listings::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #e2e2e2;
  height: 1px;
}
.card .card-body .listings .listing__items {
  display: flex;
  align-items: center;
  padding: 2px 15px;
}
.card .card-body .listings .listing__items b {
  font-weight: 400;
  line-height: 10px;
}
.card .card-body .listings .listing__items span {
  font-size: 13px;
  font-weight: 300;
  margin-right: 3px;
}
.card .card-body .listings .listing__items h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}
.card .card-body .listings .listing__items .left {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.card .card-body .listings .listing__items .left .list__item--logo {
  height: 50px;
  width: 50px;
}
.card .card-body .listings .listing__items .left .list__item--logo img {
  width: 100%;
}
.card .card-body .listings .listing__items .left .list__item--property {
  margin-left: 10px;
}
.card .card-body .listings .listing__items .right {
  text-align: center;
}
.card .card-body .listings .listing__items .right span {
  font-weight: 300;
}
.card .card-body .listings .listing__items .right i {
  margin-left: 10px;
  font-size: 15px;
  background: transparent;
}

.p-0 {
  padding: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.w-40 {
  width: 40%;
}

.copy-icon {
  font-size: 15px;
  color: #757474;
  cursor: copy;
}

.d-none {
  display: none !important;
}

.mv-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

@-webkit-keyframes Spin360 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes Spin360 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 687px) {
  .container {
    padding: 5px 10px;
  }

  .text-sm-center {
    text-align: center;
  }

  .d-xs-none {
    display: none !important;
  }

  .row {
    flex-wrap: wrap !important;
  }
  .row .col {
    margin-right: 0;
  }

  .pl-30 {
    padding-left: 0px;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline {
    display: inline-block;
  }

  .mr-sm-1 {
    margin-right: 10px;
  }

  .panel {
    padding-right: 2px;
    padding-left: 2px;
    display: block;
  }
  .panel .panel-description {
    width: 100%;
  }
  .panel .panel-content {
    width: 70%;
  }
}
@media (width > 999px) {
  .d-md-flex {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
}
.preloader__container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader__container .circle-loader {
  width: 200px;
  height: 200px;
  border-bottom: 3px solid #ad81e0;
  border-radius: 50%;
  -webkit-animation: Spin360 linear 0.9s infinite;
          animation: Spin360 linear 0.9s infinite;
}

.navbar {
  height: 70px;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  line-height: 12px;
  font-weight: 700;
  position: relative;
  font-family: "Shippori Antique B1", sans-serif;
}
.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #a97cdb;
  height: 3px;
  width: 100%;
}
.navbar .nav__property .logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.navbar .nav__property .logo .brand-logo {
  display: inline-block;
  height: 50px;
  width: 50px;
}
.navbar .nav__user {
  display: flex;
  margin-right: 15px;
}
.navbar .nav__user .icon-nav-toggle {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU%2BQ29tYmluZWQgU2hhcGUgQ29weSAyPC90aXRsZT48cGF0aCBkPSJNMiA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHpNOSA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptNy0xNGEyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6IiBmaWxsPSIjOERDQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4%3D);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}
.navbar .nav__user .avatar__container .user__avatar {
  width: 30px;
  height: 30px;
  padding-top: 10px;
  margin-left: 10px;
}
.navbar .nav__user .avatar__container .user__avatar img {
  width: 100%;
  height: 100%;
}

.nav-panel {
  padding: 0 70px;
  border-bottom: 2px solid #F7F8FB;
}
.nav-panel ul {
  display: flex;
}
.nav-panel ul li {
  text-align: center;
  padding: 20px;
  position: relative;
}
.nav-panel ul li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #ad81e0;
  width: 100%;
  -webkit-animation: fade ease 0.8s;
          animation: fade ease 0.8s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.breadcrumb {
  margin: -5px 0 0 0;
  padding: 20px 70px;
  background: #F7F8FB;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.breadcrumb .left_crumb {
  font-size: 20px;
  font-weight: bold;
  line-height: 12px;
  color: #79589f;
}

.search-input {
  position: relative;
}
.search-input input {
  padding: 5px 10px 5px 30px;
  color: #556379bb;
}
.search-input i {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  font-size: 13px;
  font-weight: 100;
  color: #62738d;
}

.input-group {
  position: relative;
}
.input-group select {
  padding: 6px 10px 6px 30px;
  color: #556379bb;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  outline: none;
}
.input-group i {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  border-left: 1px solid #e2e2e2;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  font-weight: 100;
  color: #62738d;
  background: #f7f7f7;
}

.toggle-switch {
  display: flex;
  width: 55px;
  height: 25px;
  border-radius: 25px;
  background: #e7e7e7;
  padding: 2px;
  transition: all 0.3s ease;
}
.toggle-switch input {
  display: none;
}
.toggle-switch.active {
  background: #79589f;
}
.toggle-switch.active span::before {
  left: 30px;
}
.toggle-switch .ball {
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
}
.toggle-switch .ball::before {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 25px;
  background: #fff;
  border-radius: 50%;
}

.listings {
  position: relative;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.listings:hover {
  background: #f7f7f7;
}
.listings::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #e2e2e2;
  height: 1px;
}
.listings .listing__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
}
.listings .listing__items b {
  font-weight: 400;
  line-height: 10px;
}
.listings .listing__items span {
  font-size: 13px;
  font-weight: 300;
  margin-right: 3px;
}
.listings .listing__items h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}
.listings .listing__items .left {
  display: flex;
  align-items: center;
}
.listings .listing__items .left .list__item--logo {
  height: 50px;
  width: 50px;
}
.listings .listing__items .left .list__item--logo img {
  width: 100%;
}
.listings .listing__items .left .list__item--property {
  margin-left: 10px;
}
.listings .listing__items .right {
  text-align: center;
}
.listings .listing__items .right span {
  font-weight: 300;
}
.listings .listing__items .right i {
  margin-left: 10px;
  font-size: 15px;
  background: transparent;
}

.groupings .group__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  transition: all 0.2s ease-in;
  cursor: pointer;
  border: 1px solid #e2e2e2;
}
.groupings .group__items:hover {
  background: #f7f7f7;
}
.groupings .group__items b {
  font-weight: 400;
  line-height: 10px;
}
.groupings .group__items span {
  font-size: 13px;
  font-weight: 300;
  margin-right: 3px;
}
.groupings .group__items h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}
.groupings .group__items .left {
  display: flex;
  align-items: center;
}
.groupings .group__items .left .list__item--logo {
  height: 50px;
  width: 50px;
}
.groupings .group__items .left .list__item--logo img {
  width: 100%;
}
.groupings .group__items .left .list__item--property {
  margin-left: 10px;
}
.groupings .group__items .right {
  text-align: center;
}
.groupings .group__items .right span {
  font-weight: 300;
}
.groupings .group__items .right i {
  margin-left: 10px;
  font-size: 15px;
  background: transparent;
}

.activities {
  line-height: 8px;
}
.activities .activity {
  width: 100%;
  display: flex;
  position: relative;
}
.activities .activity::before {
  content: " ";
  position: absolute;
  left: 25px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #ad81e0;
}
.activities .activity:last-child:before {
  display: none;
}
.activities .activity .activity-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 1;
}
.activities .activity .activity-detail {
  min-width: 130px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  padding: 10px 15px;
  font-size: 12px;
}
.activities .activity .activity-detail::before {
  content: "";
  font-family: "Font Awesome 5 pro";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  left: -8px;
  color: #fff;
}
.activities .activity .activity-detail p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 12px;
}
.activities .no-activity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.activities .no-activity i {
  font-size: 40px;
  margin: 15px 0;
}

footer {
  position: relative;
  width: 100% !important;
  overflow-x: hidden;
}
footer .footer__content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  border: 1px solid;
  border-color: #eef1f6;
  background: #fff;
  font-size: 14px;
  font-weight: 300;
  color: #62738d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 12;
}
footer .footer__content .footer_right {
  margin-right: 25px;
}
footer .footer__content .footer_right li {
  margin: 10px;
}
footer .footer__content .footer_right li i {
  margin-right: 5px;
}

.auth-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #3A2778;
  color: #fff;
  overflow-y: auto;
}
.auth-page .wrapper {
  width: 60%;
  margin: 20px auto;
}
.auth-page .wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-page .wrapper .header .logo p {
  margin: 0;
  font-size: 40px;
}
.auth-page .wrapper .header .cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 8px;
  font-size: 14px;
}
.auth-page .wrapper .header .cta span {
  display: block;
}
.auth-page .wrapper .header .cta button,
.auth-page .wrapper .header .cta a {
  display: block;
  margin-left: 10px;
  background: #452f8bb7;
  border-radius: 3px;
}
.auth-page .wrapper .lead {
  margin-top: 28px;
  font-size: 30px;
}
.auth-page .wrapper .auth-card {
  background: #eef1f6;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.auth-page .wrapper .auth-card.login {
  width: 60%;
  margin: 0 auto;
  justify-content: center;
}
.auth-page .wrapper .auth-card .left {
  margin-right: 15px;
  width: 40%;
}
.auth-page .wrapper .auth-card .left p {
  margin: 0;
  font-size: 13px;
  color: #3A2778;
  font-weight: 300;
}
.auth-page .wrapper .auth-card .left h4 {
  color: #79589f;
  font-weight: 500;
}
.auth-page .wrapper .auth-card.no-hype {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}
.auth-page .wrapper .auth-card.no-hype .left {
  display: none;
}
.auth-page .wrapper .auth-card .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.auth-page .wrapper .auth-card .right .label-group {
  display: block;
  margin-bottom: 20px;
}
.auth-page .wrapper .auth-card .right .label-group label {
  position: relative;
  color: #79589f;
  font-weight: 500;
  font-size: 14px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.auth-page .wrapper .auth-card .right .label-group input,
.auth-page .wrapper .auth-card .right .label-group textarea {
  display: block;
  width: 98%;
}
.auth-page .wrapper .auth-card .right .label-group.required label::after {
  content: "*";
  position: absolute;
  font-size: 20px;
  color: #ee3636;
  right: -12px;
}
.auth-page .wrapper .auth-card .right button {
  width: 40%;
  margin: 5px auto;
}
.auth-page .wrapper .auth-card form {
  max-width: 100%;
  padding: 12px 20px;
  margin: 15px auto;
}
.auth-page .wrapper .auth-card form p {
  font-size: 15px;
  margin: 15px 0 15px 0;
  color: #000;
}
.auth-page .wrapper .auth-card form input {
  font-size: 15px;
  padding: 15px 10px;
  width: 250px;
  border: 1px solid #3A2778;
  border-radius: 10px;
  outline: #3A2778;
}
.auth-page .wrapper .auth-card form input::-moz-placeholder {
  font-size: 15px;
  color: #696969;
}
.auth-page .wrapper .auth-card form input:-ms-input-placeholder {
  font-size: 15px;
  color: #696969;
}
.auth-page .wrapper .auth-card form input::placeholder {
  font-size: 15px;
  color: #696969;
}
.auth-page .wrapper .auth-card form .msg {
  display: block;
  font-size: 15px;
  margin: 5px 0 10px 0;
}

.quickLogin-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aaa9ad9f;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.quickLogin-card .wrapper {
  margin: 20px auto;
}
.quickLogin-card .wrapper .lead {
  margin-top: 28px;
  margin-bottom: 0;
  font-size: 30px;
  color: #3A2778;
  font-weight: 500;
}
.quickLogin-card .wrapper .auth-card {
  background: #eef1f6;
  padding: 10px 30px;
  border-radius: 10px;
}
.quickLogin-card .wrapper .auth-card.login {
  margin: 0 auto;
  justify-content: center;
}
.quickLogin-card .wrapper .auth-card form {
  width: 100%;
  padding: 8px 0;
  margin: 8px auto 0 auto;
}
.quickLogin-card .wrapper .auth-card form p {
  font-size: 15px;
  margin: 15px 0 15px 0;
  color: #000;
}
.quickLogin-card .wrapper .auth-card form input {
  font-size: 15px;
  padding: 15px 10px;
  border: 1px solid #3A2778;
  border-radius: 10px;
  outline: #3A2778;
}
.quickLogin-card .wrapper .auth-card form input::-moz-placeholder {
  font-size: 15px;
  color: #696969;
}
.quickLogin-card .wrapper .auth-card form input:-ms-input-placeholder {
  font-size: 15px;
  color: #696969;
}
.quickLogin-card .wrapper .auth-card form input::placeholder {
  font-size: 15px;
  color: #696969;
}
.quickLogin-card .wrapper .auth-card form .msg {
  display: block;
  font-size: 12px;
  margin: 5px 0 10px 0;
}

@media (max-width: 601px) {
  .breadcrumb {
    padding: 20px 10px;
  }

  footer {
    display: block !important;
    text-align: center;
  }
  footer .footer_left {
    font-size: 12px;
    font-weight: 300;
    color: #62738d;
  }
  footer .footer_left li {
    margin: 10px;
  }
  footer .footer_left li i {
    margin-right: 5px;
  }
}
@media (max-width: 782px) {
  .listings .listing__items {
    padding: 10px 5px;
  }
  .listings .listing__items h3 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
  }

  .auth-page .wrapper {
    width: 100%;
  }
  .auth-page .wrapper .header {
    display: block;
    text-align: center;
  }
  .auth-page .wrapper .header .logo p {
    margin: 0;
    font-size: 40px;
  }
  .auth-page .wrapper .header .cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 8px;
    font-size: 14px;
  }
  .auth-page .wrapper .header .cta span {
    display: block;
  }
  .auth-page .wrapper .header .cta button,
.auth-page .wrapper .header .cta a {
    display: block;
    margin-left: 10px;
    background: #452f8bb7;
    border-radius: 3px;
  }
  .auth-page .wrapper .lead {
    margin-top: 28px;
    font-size: 30px;
  }
  .auth-page .wrapper .auth-card {
    background: #eef1f6;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
  .auth-page .wrapper .auth-card.login {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }
  .auth-page .wrapper .auth-card .left {
    margin-right: 15px;
    width: 40%;
  }
  .auth-page .wrapper .auth-card .left p {
    margin: 0;
    font-size: 13px;
    color: #3A2778;
    font-weight: 300;
  }
  .auth-page .wrapper .auth-card .left h4 {
    color: #79589f;
    font-weight: 500;
  }
  .auth-page .wrapper .auth-card .right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }
  .auth-page .wrapper .auth-card .right .label-group {
    display: block;
    margin-bottom: 20px;
  }
  .auth-page .wrapper .auth-card .right .label-group label {
    position: relative;
    color: #79589f;
    font-weight: 500;
    font-size: 14px;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .auth-page .wrapper .auth-card .right .label-group input,
.auth-page .wrapper .auth-card .right .label-group textarea {
    display: block;
    width: 98%;
  }
  .auth-page .wrapper .auth-card .right .label-group.required label::after {
    content: "*";
    position: absolute;
    font-size: 20px;
    color: #ee3636;
    right: -12px;
  }
  .auth-page .wrapper .auth-card .right button {
    width: 40%;
    margin: 5px auto;
  }
}/*# sourceMappingURL=styles.css.map */