// Auth Screen Components Styles
@import './constants';
.auth_page {
    width: 100%;
    color: $secondary;
    // Align center
    display: flex;
    align-items: center;
    justify-content: center;
    // containing the page content
    .auth_page__wrapper {
        width: max-content;
        max-width: 90%;
        margin-bottom: 50px;
        .brand {
            margin: 10px auto;
            text-align: center;
            color: $white;
            font-size: 50px;
        }
        &--content {
            width: max-content;
            max-width: 100%;
            &.login {
                width: 450px;
            }
            &:not(.login) {
                margin-top: -30px;
            }
            .cta {
                margin: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 8px;
                font-size: 14px;
                a {
                    margin-left: 10px;
                }
            }
            .lead {
                margin: 18px 0;
                font-size: 30px;
            }
            .card {
                background: $white;
            }
        }
        .btn {
            line-height: 22px;
            padding: 15px 20px;
        }
        input {
            line-height: 20px;
            padding: 15px 10px 15px 25px;
            width: 300px;
            max-width: 80%;
        }
    }
}