// Auth Screen Components Styles
@import './constants';
.auth_page {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $primary;
    color: $secondary;
    overflow-y: auto; // incase it extends the screen
    // Align center
    display: flex;
    align-items: center;
    justify-content: center;
    // containing the page content
    .auth_page__wrapper {
        width: max-content;
        max-width: 90%;
        .brand {
            margin: 10px auto;
            text-align: center;
            color: $white;
        }
        &--content {
            width: 450px;
            max-width: 100%;
        }
        .cta {
            display: flex;
            justify-content: space-around;
            align-items: center;
            line-height: 8px;
            font-size: 14px;
            span {
                display: block;
            }
            button,
            a {
                display: block;
                margin-left: 10px;
                background: $secondary;
                border-radius: 3px;
            }
        }
        .lead {
            margin: 18px 0;
            font-size: 30px;
        }
        .card {
            background: $white;
        }
    }
}