// COLORS
$primary: #563d7c;
$secondary:#5a3f79;
$primary-light:#6d5e7e;
$accent:#79589f;
$white:#fdfdfd;
$gray:#c2bfc5;
$light-gray:#eef1f6;
$light-gray2:#F7F8FB;
$deepgray:#b4b3b3;


$red:#df4444;
$green:#11cc11;
$orange:#f3c632;


// Font sizes
$base: 11px;
$small: 13px;
$regular: 14px;
$medium: 20px;
$large: 25px;
$extraLarge: 30px;