// COLORS
$primary: #563d7c;

$gray:#c2bfc5;
$fadegray: #c2bfc55d;
$lightgray:#F7F8FB;
$deepgray: #b4b3b3;


$white: #fdfdfd;
$dark: #121213;
$red:#df4444;
$green:#11cc11;
$orange:#f3c632;


// Font sizes
$base: 11px;
$small: 13px;
$regular: 14px;
$medium: 20px;
$large: 25px;
$extraLarge: 30px;