/*---------------------*/


/*      DROPDOWN       */


/*---------------------*/

.dropdown-menu {
    display: none;
}

.panel {
    padding: 15px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .panel-description {
        font-weight: 500;
        font-size: 25px;
        width: 20%;
    }
    .panel-content {
        width: 50%;
    }
}

.copy-icon {
    font-size: 15px;
    cursor: copy;
    p {
        margin: 0;
    }
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f5f5f5;
    // min-height: 50px;
    p {
        font-size: 14px;
    }
}

.span-dots {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .item {
        display: inline-block;
        width: fit-content;
        margin-right: 20px !important;
        position: relative;
        &::after {
            content: '•';
            display: inline-block;
            position: relative;
            top: 0px;
            right: -10px;
            color: #b4b3b3;
        }
        &:last-of-type {
            margin-right: 0px !important;
            &::after {
                display: none;
            }
        }
    }
}

.no-record {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        font-size: 20px;
        margin-right: 5px;
    }
}