/*---------------------*/
/*      NAVBAR       */
/*---------------------*/

.navbar {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    font-weight: 700;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: $primary;
        height: 3px;
        width: 100%;
    }
    .nav_item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .icons {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-right: 40px;
            .icon {
                display: block;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
        .icon-nav-toggle {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU%2BQ29tYmluZWQgU2hhcGUgQ29weSAyPC90aXRsZT48cGF0aCBkPSJNMiA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHpNOSA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptNy0xNGEyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6IiBmaWxsPSIjOERDQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4%3D);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .avatar__container {
            display: flex;
            align-items: center;
            cursor: pointer;
            user-select: none;
            span {
                margin-right: 10px;
                font-size: $regular;
                &.dropdown_icon {
                    margin-right: 0;
                    margin-left: 5px;
                    transition: all 0.7s ease;
                    &.open {
                        transform: rotate(180deg);
                    }
                }
            }
            .user__avatar {
                // background: url('http://localhost:3000/asset/img/avatar.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
        }
    }
}


/*---------------------*/
/*      DROPDOWN       */
/*---------------------*/

.dropdown_menu {
    display: none;
    position: fixed;
    background: $white;
    border: 1px solid $lightgray;
    border-radius: 4px;
    right: 15px;
    top: 58px;
    z-index: 3;
    padding: 7px 10px;
    transition: all 0.7s ease;
    &.show {
        display: block;
    }
    &--item {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $small;
        i {
            margin-right: 12px;
        }
    }
    // padding: 20px 10px;
}

/*---------------------*/
/*      FOOTER         */
/*---------------------*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100% !important;
    overflow-x: hidden;
    padding: 10px 0px;
    border: 1px solid $lightgray;
    // border-color: #eef1f6;
    background: $white;
    font-size: $regular;
    font-weight: 300;
    .content {
        width: 95% !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        color: $gray;
        a:not(.btn) {
            color: $gray;
            font-weight: 300;
            &:hover {
                color: $primary;
            }
            // &.btn:hover {
            //     color: $white;
            // }
        }
        .right {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                li {
                    margin: 10px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}


/*---------------------*/
/*      Span Dots      */
/*---------------------*/

.span-dots {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .item {
        display: inline-block;
        width: fit-content;
        margin-right: 20px !important;
        position: relative;
        &::after {
            content: '•';
            display: inline-block;
            position: relative;
            top: 0px;
            right: -10px;
            color: $deepgray;
        }
        &:last-of-type {
            margin-right: 0px !important;
            &::after {
                display: none;
            }
        }
    }
}

/*---------------------*/
/*      Breadcrum      */
/*---------------------*/

.breadcrumb {
    margin: 0;
    padding: 18px 50px;
    background: $lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    .left_crumb {
        font-size: $medium;
        font-weight: bold;
        color: $primary;
        text-overflow: ellipsis;
    }
    // .right_crumb {
    // }
}


/*---------------------*/
/*      Listings       */
/*---------------------*/

.listings__container {
    .listings {
        position: relative;
        transition: all 0.2s ease-in;
        cursor: pointer;
        margin: 15px 0;
        
        &:hover {
            background: $lightgray;
        }
        &__items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 50px 10px 20px;
            .descrip {
                max-width: 60%;
                text-align: end;
            }
            &--sm {
                padding: 10px;
                font-size: $small;
                p,
                .lead {
                    margin: 0;
                }
                .lead {
                    font-weight: bold;
                }
            }
            b {
                font-weight: bold;
                line-height: 10px;
            }
            span {
                font-size: $regular;
                font-weight: 300;
                margin-right: 3px;
            }
            h3 {
                margin: 0;
                font-weight: 500;
                font-size: $large;
            }
            i {
                margin-left: 10px;
                font-size: $regular;
                background: transparent;
            }
            &--item {
                display: flex;
                align-items: center;
                .logo {
                    height: 50px;
                    width: 50px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    // background-color: $lightgray;
                    margin-right: 20px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .meta {
            display: flex;
            align-items: center;
            // justify-content: flex-start;
            margin: 4px 0 0 0;
            text-align: start;
            span,
            i {
                font-size: $regular;
            }
        }
    }
}


/*-----------------------*/
/*      SETTINGS PANEL   */
/*-----------------------*/

.panel {
    p{
        margin: 5px;
    }
    &_header {
        font-weight: bold;
        font-size: $medium;
    }
    .required{
        &::after{
            display: none;
        }
    }
    label{
        font-size: $regular;
        font-weight: bold;
    }
    .label-group{
        margin: 0;
        padding: 0;
        width: 400px;
    }
    .cta{
        display: flex;
        justify-content: flex-end;
    }
    .btn{
        display: block;
        padding: 13px;
        width: 100px;
        
    }
    .image-group {
        display: block;

        &.sm-show {
            display: none;
        }
    }
    .panel_content {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 80px;
        margin-top: 50px;
        &--item {
            margin:15px 0;
            p {
                margin: 0;
            }
        }
    }
}


/*------------------*/
/*      INFO        */
/*------------------*/

.quick_info {
    background: $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    position: relative;
    transition: all 0.5s ease;
    &.hide {
        display: none;
    }
    // success
    &.success {
        background: $green;
        color: $white;
    }
    // danger
    &.danger {
        background: $red;
        color: $white;
    }
    p {
        margin: 0;
        padding: 0;
    }
    a {
        margin-left: 5px;
        display: block;
    }
    .close {
        position: absolute;
        right: 20px;
        // top: 10px;
        font-size: $medium;
        cursor: pointer;
        color: $white;
    }
}


/*---------------------------*/
/*      ERRORS  DISPLAYS     */
/*---------------------------*/

.error_splash {
    // background: red;
    min-height: 300px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: $large;
        margin: 0;
    }
    span {
        margin-top: 8px;
    }
}

.no-record {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        font-size: $medium;
        margin-right: 5px;
    }
}

.no-activity {
    i {
        font-size: $large*3;
    }
}


/*---------------------*/
/*      Computers      */
/*---------------------*/

.comp-lists{

    .comp{
        width: 280px;
        p{
            margin: 8px;
        }

        &_content{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        &_icon{
            $dim:80px;
            
            width: $dim;
            height: $dim;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

        }
        &_details{
            text-align: start;
            font-size: $small;
        }

        &_cta{
            // background: red;
            padding: 5px 0;
            text-align: center;
            a{font-size: $regular;}
        }
    }
}


@media (max-width:1050px) {
    /*---------------------*/
    /*      NAVBAR       */
    /*---------------------*/
    .navbar {
        padding: 15px 20px;
    }
}

@media (max-width:760px) {
    /*---------------------*/
    /*      NAVBAR       */
    /*---------------------*/
    .navbar {
        .nav_item {
            .brand {
                font-size: $extraLarge !important;
            }
            .icons {
                margin-right: 10px;
                .icon {
                    width: 20px;
                    height: 20px;
                }
            }
            .avatar__container {
                span:not(.dropdown_icon) {
                    display: none;
                }
                .user__avatar {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    /*---------------------*/
    /*      Breadcrum      */
    /*---------------------*/
    .breadcrumb {
        padding: 15px 10px;
    }
    /*---------------------*/
    /*      FOOTER         */
    /*---------------------*/
    footer {
        .content {
            flex-direction: column;
            // .btn {
            //     padding: 8px 15px;
            //     font-size: 14px;
            // }
            .right {
                margin-top: 10px;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    li {
                        margin: 5px;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    /*---------------------*/
    /*      Span Dots      */
    /*---------------------*/
    .span-dots {
        .item {
            margin-right: 15px !important;
            &::after {
                top: 0px;
                right: -8px;
            }
        }
    }
    /*---------------------*/
    /*      Listings       */
    /*---------------------*/
    .listings__container {
        .listings {
            margin: 10px 0;
            &:last-of-type {
                margin-bottom: 40px;
            }
            &__items {
                padding: 10px;
                h3 {
                    font-size: $medium;
                }
                i {
                    font-size: $small;
                }
                &--item {
                    display: flex;
                    align-items: center;
                    .logo {
                        height: 50px;
                        width: 50px;
                        margin-right: 12px;
                    }
                }
                .status_n_link {
                    b {
                        display: none;
                    }
                    &.span-dots {
                        .item {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &::after {
                                top: 1px;
                                right: -13px;
                            }
                            &:last-of-type {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
        
    /*---------------------*/
    /*      Panel       */
    /*---------------------*/
    .panel {
        .label-group {
            padding: 0 20px;
        }
        .cta {
            justify-content: center;
        }
        .btn {
            padding: 18px 0 ;
            width: 150px;
        }
        .image-group{
            display: none;
            &.sm-show{
                display: block;
            }
        }
        .panel_content {
            flex-direction: column;
            row-gap: 10px;
            &--item {
                .flex{
                    padding: 0 0 0 22px;
                }
            }
        }
    }

    /*------------------*/
    /*      INFO        */
    /*------------------*/
    .quick_info {
        flex-direction: column;
    }
}