/*---------------------*/


/*      DROPDOWN       */


/*---------------------*/

.dropdown-menu {
    display: none;
}


/*---------------------*/


/*      NAVBAR       */


/*---------------------*/

.navbar {
    // height: 90px;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-weight: 700;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: $accent;
        height: 3px;
        width: 100%;
    }
    .nav_item {
        display: flex;
        align-items: center;
        justify-content: center;
        &.brand {
            font-size: 20px !important;
        }
        .icons {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-right: 40px;
            .icon {
                display: block;
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }
        .icon-nav-toggle {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU%2BQ29tYmluZWQgU2hhcGUgQ29weSAyPC90aXRsZT48cGF0aCBkPSJNMiA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHpNOSA0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptMCA3YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNHptNy0xNGEyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6bTAgN2EyIDIgMCAxIDAgMC00IDIgMiAwIDAgMCAwIDR6IiBmaWxsPSIjOERDQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4%3D);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .avatar__container {
            display: flex;
            align-items: center;
            span {
                margin-right: 10px;
                font-size: 18px;
            }
            .user__avatar {
                background: url('http://localhost:3000/asset/img/avatar.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }
}


/*---------------------*/


/*      FOOTER         */


/*---------------------*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100% !important;
    overflow-x: hidden;
    padding: 10px 0px;
    border: 1px solid $light-gray;
    // border-color: #eef1f6;
    background: $white;
    font-size: 14px;
    font-weight: 300;
    .content {
        width: 95% !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        color: $gray;
        .right {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                li {
                    margin: 10px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}


/*---------------------*/


/*      Span Dots      */


/*---------------------*/

.span-dots {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .item {
        display: inline-block;
        width: fit-content;
        margin-right: 20px !important;
        position: relative;
        &::after {
            content: '•';
            display: inline-block;
            position: relative;
            top: 0px;
            right: -10px;
            color: $deepgray;
        }
        &:last-of-type {
            margin-right: 0px !important;
            &::after {
                display: none;
            }
        }
    }
}


/*---------------------*/


/*      Breadcrum      */


/*---------------------*/

.breadcrumb {
    margin: 0;
    padding: 15px 70px;
    background: $light-gray2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    .left_crumb {
        font-size: 25px;
        font-weight: bold;
        line-height: 12px;
        color: $accent;
        text-overflow: ellipsis;
    }
    // .right_crumb {
    // }
}


/*---------------------*/


/*      Listings       */


/*---------------------*/

.listings__container {
    .listings {
        position: relative;
        transition: all 0.2s ease-in;
        cursor: pointer;
        // background: $light-gray2;
        margin: 15px 0;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     width: 100%;
        //     background: #e2e2e2;
        //     height: 1px;
        // }
        &:hover {
            // background: $light-gray;
            background: $light-gray2;
        }
        &__items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 50px 10px 20px;
            &--sm {
                padding: 10px;
                font-size: 15px;
                p,
                .lead {
                    margin: 0;
                }
                .lead {
                    font-weight: bold;
                }
            }
            b {
                font-weight: bold;
                line-height: 10px;
            }
            span {
                font-size: 13px;
                font-weight: 300;
                margin-right: 3px;
            }
            h3 {
                margin: 0;
                font-weight: 500;
                font-size: 25px;
            }
            i {
                margin-left: 10px;
                font-size: 15px;
                background: transparent;
            }
            &--item {
                display: flex;
                align-items: center;
                .logo {
                    height: 50px;
                    width: 50px;
                    background-size: contain;
                    margin-right: 20px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .meta {
            display: flex;
            align-items: center;
            // justify-content: flex-start;
            margin: 4px 0 0 0;
            text-align: start;
            span,
            i {
                font-size: 14px;
            }
        }
    }
}

.panel {
    &_header {
        font-weight: bold;
        font-size: 18px;
    }
    .panel_content {
        // 
        &--item {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 100px;
            margin: 15px 0;
            p {
                margin: 0;
            }
        }
    }
}

.no-record {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        font-size: 20px;
        margin-right: 5px;
    }
}

@media (max-width:1050px) {
    /*---------------------*/
    /*      NAVBAR       */
    /*---------------------*/
    .navbar {
        padding: 15px 20px;
    }
}

@media (max-width:760px) {
    /*---------------------*/
    /*      NAVBAR       */
    /*---------------------*/
    .navbar {
        .nav_item {
            .brand {
                font-size: 30px !important;
            }
            .icons {
                margin-right: 10px;
                .icon {
                    width: 20px;
                    height: 20px;
                }
            }
            .avatar__container {
                span {
                    display: none;
                }
                .user__avatar {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    /*---------------------*/
    /*      FOOTER         */
    /*---------------------*/
    footer {
        .content {
            flex-direction: column;
            // .btn {
            //     padding: 8px 15px;
            //     font-size: 14px;
            // }
            .right {
                margin-top: 10px;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    li {
                        margin: 5px;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    /*---------------------*/
    /*      Span Dots      */
    /*---------------------*/
    .span-dots {
        .item {
            margin-right: 15px !important;
            &::after {
                top: 0px;
                right: -8px;
            }
        }
    }
    /*---------------------*/
    /*      Listings       */
    /*---------------------*/
    .listings__container {
        .listings {
            margin: 10px 0;
            &:last-of-type {
                margin-bottom: 40px;
            }
            &__items {
                padding: 10px;
                h3 {
                    font-size: 18px;
                }
                i {
                    font-size: 13px;
                }
                &--item {
                    display: flex;
                    align-items: center;
                    .logo {
                        height: 50px;
                        width: 50px;
                        margin-right: 12px;
                    }
                }
                .status_n_link {
                    b {
                        display: none;
                    }
                    &.span-dots {
                        .item {
                            &::after {
                                content: '•';
                                display: inline-block;
                                position: relative;
                                top: 1px;
                                right: -13px;
                                color: $deepgray;
                            }
                            &:last-of-type {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .panel {
        .panel_content {
            // 
            &--item {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                .lead {
                    align-self: start;
                    margin-left: 20px;
                }
            }
        }
    }
}