// All Styles Pertaining to School Page
@import './constants';
@import './mixins/animations';
.school_page {
    .breadcrumb {
        // padding: 23px 50px;
        align-items: center;
        span {
            margin: 0;
        }
        .school_status {
            font-size: 14px;
            font-weight: bold;
            i {
                display: none;
            }
            &.active {
                color: $green;
            }
            &.not-active {
                color: $red;
            }
            &.suspended {
                color: $orange;
            }
        }
    }
    .tabnav {
        padding: 0 70px;
        border-bottom: 2px solid $light-gray;
        ul {
            display: flex;
            li {
                text-align: center;
                padding: 20px;
                position: relative;
                cursor: pointer;
                a {
                    &.active::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        background: $primary-light;
                        width: 100%;
                        @include fadeAnimation;
                    }
                }
            }
        }
    }
}

.copy-icon {
    font-size: 15px;
    cursor: copy;
    padding: 10px;
    background: $white;
    top: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $light-gray2;
    user-select: none;
    p {
        font-size: 15px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .safe {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: -20px;
            top: -13px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
        &.disabled {
            color: $gray;
            .copy-icon {
                background: $light-gray2;
                cursor: not-allowed;
            }
        }
    }
}

.new_school {
    // background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 70px 0;
    input {
        width: 300px;
    }
    .form_footer {
        margin: 15px 0;
        font-size: 12px;
    }
    .btn {
        padding: 15px 20px;
    }
}


/*----------------*/


/*      USERS     */


/*----------------*/

.users {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    // justify-content: space-around;
    row-gap: 20px;
    column-gap: 20px;
}

.user {
    width: 350px;
    max-width: 90%;
    margin: 0;
    &_info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &--item {
            margin: 15px 0;
            p {
                margin: 5px 0;
            }
        }
        .user_avatar {
            width: 150px !important;
            height: 150px;
            img {
                width: 100%;
                height: auto;
                max-height: 100%;
            }
        }
    }
    hr {
        margin: 5px 0;
    }
}

@media (max-width:760px) {
    .school_page {
        .breadcrumb {
            // padding: 20px 10px;
            .school_status {
                span {
                    display: none;
                }
                i {
                    display: block;
                    font-size: 23px;
                }
            }
        }
        .tabnav {
            padding: 0;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .activities {
            margin-bottom: 100px;
        }
    }
    .user {
        margin: 0 auto;
        &_info {
            .user_avatar {
                width: 100px !important;
                height: 100px;
            }
        }
    }
}