@import '../constants';
@mixin card {
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    padding: 5px 10px;
    position: relative;
    .card-header {
        text-align: left;
        padding-left: 10px;
        margin: 0;
        font-size: $medium;
    }
    // .card-body {}
}

.card {
    @include card;
    position: relative;
    .loading_indicator {
        position: absolute;
        right: 10px;
        top: 5px;
    }
    // Variants
    &.primary {
        border-top: 5px solid $primary;
    }
}
